{% extends "landpage/base.html" %}
{% block content %}


</div>

        <div class="col col-md-auto">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <p>Entre em contato para atualizações e outros serviços:</p>
                    <p>www.estudiopoliteama.com.br</p>
                    <p>email: rafael.chiafarelli@gmail.com</p>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>

{% endblock content %}
